@model MyLibrary.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookEdition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookEdition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookAuthor1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookAuthor1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookAuthor2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookAuthor2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookPurchasePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookPurchasePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookPublisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookPublisher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookISBN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookISBN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookStorage_Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookStorage_Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookStorage_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookStorage_Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
