@model IEnumerable<MyLibrary.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookEdition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookAuthor1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookAuthor2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookPurchasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookPublisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookStorage_Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookStorage_Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookEdition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookAuthor1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookAuthor2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPurchasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPublisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookStorage_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookStorage_Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
